<div class="container">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Nothing to add here just yet. This site is under construction! :)</p>
          </article>
        </section>
      </div>
</div>