<div class="container">
      <div class="row">
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>An upcoming beautiful website is under construction.</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>Hello there, myself Soham here. I am a tech enthusiast trying to learn new programming languages. Currently I am working on building a website using node.js and express.js as its back-end. A lot of functionality will be added to this webpage in upcoming weeks so stay tuned to check out new features added to this website. I love to read non-fictional motivational books to keep myself motivated in my past time.</p>
          </article>
        </section>
      </div>
</div>